In [5]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
my_list = ['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality']
copy_list = my_list.copy()
copy_list.append('height')
print(copy_list)
my_list.clear()
print(my_list)
print(copy_list.count('age'))
print(copy_list.index('age'))
copy_list.insert(3,'weight')
print(copy_list)
copy_list.pop(3)
print(copy_list)
copy_list.remove('sex')
print(copy_list)
copy_list.reverse()
print(copy_list)
copy_list.sort()
print(copy_list)
copy_list.extend(my_list)
print(copy_list)

['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality', 'height']
[]
1
3
['name', 'class', 'section', 'weight', 'age', 'sex', 'marks', 'nationality', 'height']
['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality', 'height']
['name', 'class', 'section', 'age', 'marks', 'nationality', 'height']
['height', 'nationality', 'marks', 'age', 'section', 'class', 'name']
['age', 'class', 'height', 'marks', 'name', 'nationality', 'section']
['age', 'class', 'height', 'marks', 'name', 'nationality', 'section']

In [14]:
a = ['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality']
b = ['ali','12','C','22','M','99','PAK']
c = [a,'10','ahmed',b,'23k','7.2']
print(c)
print(c[1])
print(c[0])
print(c[0][1:-2:3])
print(c[3][1:-2:3])

[['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'PAK'], '23k', '7.2']
10
['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality']
['class', 'sex']
['12', 'M']

In [33]:
print(c)

[['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'PAK'], '23k', '7.2']

In [40]:
c[3].append('IND')
print(c)

[['name', 'class', 'section', 'age', 'sex', 'marks', 'nationality'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'PAK', 'IND'], '23k', '7.2']

In [41]:
c[0].clear()
print(c)

[[], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'PAK', 'IND'], '23k', '7.2']

In [47]:
copy_list = c.copy()[3][1]
print(copy_list)

12

In [51]:
c[3].count('C')

1

In [59]:
c[3].index("22")

3

In [62]:
c[0].insert(1,'AA')
print(c)

[['AA'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'PAK', 'IND', 'a'], '23k', '7.2']

In [63]:
c[3].pop(-3)
print(c)

[['AA'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', '99', 'IND', 'a'], '23k', '7.2']

In [64]:
c[3].remove('99')
print(c)

[['AA'], '10', 'ahmed', ['ali', '12', 'C', '22', 'M', 'IND', 'a'], '23k', '7.2']

In [65]:
c[3].reverse()
print(c)

[['AA'], '10', 'ahmed', ['a', 'IND', 'M', '22', 'C', '12', 'ali'], '23k', '7.2']

In [66]:
c[3].sort()
print(c)

[['AA'], '10', 'ahmed', ['12', '22', 'C', 'IND', 'M', 'a', 'ali'], '23k', '7.2']

In [77]:
aa = [['ab','bc','cd'],'32',['2.3','3.2']]
bb = [['33','3','sad'],['3df','df2'],'df']
aa.extend(bb)
print(aa)

[['ab', 'bc', 'cd'], '32', ['2.3', '3.2'], ['33', '3', 'sad'], ['3df', 'df2'], 'df']

In [7]:
aa = [['ab','bc','cd'],'32',['2.3','3.2']]
bb = [['33','3','sad'],['3df','df2'],'df']
aa[0].extend(bb[0][-1])
print(aa[0])

['ab', 'bc', 'cd', 's', 'a', 'd']